body{
    background-size: cover;
}

.heading{
    font-size: 25px;
    width: 100%;
    margin: 0;
    box-shadow: 7px 7px 10px lightcoral;
}

.note{
    font-size: 20px;
    color: black;
}

.heading2{
    font-size: 20px;
    box-shadow: 5px 5px 10px;
    text-align: center;
}

canvas{
    border: 5px solid black;
    border-radius: 25px;
}

.footer{
    position: fixed;
    background-color: grey;
    color: white;
    text-shadow: 5px 5px 5px white;
    z-index: 9999;
    bottom: 0;
    width: 100%;
    font-size: 25px;
    text-align: center;
    line-height: 4;
}


